In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('BA_scrapped.csv')

In [5]:
df.head()

,Rating,Aircraft,Traveller type,Seat type,Route,flown date,seat comfort,cabin staff,food_beverages,entertainment,ground_service,wifi,value_for_money,recommend
0,2,A380,Solo Leisure,Economy Class,San Francisco to London,November 2022,2.0,1,2,2,3,1,2,no
1,7,A320,Solo Leisure,Business Class,London to Lisbon,November 2022,3.0,4,4,3,3,0,0,yes
2,7,Boeing 787 / A320,Solo Leisure,Economy Class,Montreal to Edinburgh via London Heathrow,January 2022,4.0,4,4,4,4,4,0,yes
3,1,NaN,Solo Leisure,Economy Class,Miami to Budapest via London,November 2022,2.0,3,3,4,1,1,0,no
4,4,NaN,Solo Leisure,Premium Economy,Amman Jordan to London UK (Heathrow),November 2022,3.0,2,1,4,2,0,0,no